/*
set the style for the webmap and popouts
*/
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-search-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    background: black;
    top: 0;
    left: 0;
    width: 260px;
    margin: 10px 0 0 10px;
    padding: 10px;
    overflow: visible;
}

#geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}
#poibutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.map-data-container {
    position: relative;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    background: black;
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
}

.legend {
    position: absolute;
    display: none;
    background-color: black;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend-key {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

label {
    width: 95%;
    padding-top: 10px;
}

form {
    padding-bottom: 20px;
}